.wrap-header{
    background-color: aliceblue;
}
.wrap-header > header{
    width: 960px; margin: 0 auto;
}
.wrap-footer{
    background-color: azure;
    clear : both;

    padding: 10px 0;
    text-align: center;
}
.wrap-footer > footer {
    width: 960px; margin: 0 auto;
}
.wrap-main{
    background-color: #ffd;
    width: 960px; margin: 0 auto;

    overflow: hidden;

    padding: 10px 0;
}
.wrap-main > section {
    width: 750px; float: left;

    margin-right: 10px;
}
.wrap-main > aside {
    width: 200px; float: left;
}
