<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <ul> 
        <li>메뉴 1</li>
        <li>
            <div>메뉴 2 submeun</div>
            <ul> 
                <li>메뉴 1</li>
                <li>메뉴 1</li>
                <li>메뉴 1</li>
                <li>메뉴 1</li>
            </ul>    
        </li>
        <li>메뉴 3</li>
        <li>메뉴 4</li>
    </ul>
    <p>ul li 많이쓰임 외우셈 ul옆에랑 ul /ul 사이에 문자 넣지마셈</p>
    <ol type="I" start="5">
        <li>메뉴 1</li>
        <li>메뉴 2</li>
        <li>메뉴 3</li>
        <li>메뉴 4</li>
    </ol>
    <dl>
        <dt>내용1</dt>
        <dd>내용2</dd>
        <dd>내용3</dd>
        <dt>내용1</dt>
        <dt>내용1</dt>
        <dd>내용2</dd>
        <dd>내용3</dd>
    </dl>
    <p>dl옆에랑 dl /dl 사이에 문자 넣지마셈</p>
    
    <table>
        <tr>
            <td>내용1</td>
            <td>내용2</td>
            <td>내용3</td>
        </tr>
        <tr>
            <td>내용4</td>
            <td>내용5</td>
            <td>내용6</td>
        </tr>
        <tr>
            <td>내용7</td>
            <td>내용8</td>
            <td>내용9</td>
        </tr>
    </table>
    <h1>행 병합 rowspan </h1>
    <table>
        <tr>
            <td rowspan="3">내용1</td>
            <td>내용2</td>
            <td>내용3</td>
        </tr>
        <tr>
            <td>내용5</td>
            <td>내용6</td>
        </tr>
        <tr>
            <td>내용8</td>
            <td>내용9</td>
        </tr>
    </table>
    <h1>열 병합 colspan <br>th이용해서 중간으로 가능 </h1>
    <table>
        <tr>
            <th colspan="3">내용1</th>
        </tr>
        <tr>
            <td>내용2</td>
            <td>내용3</td>
            <td>내용4</td>
        </tr>      
    </table>
    <h1>표 태그 중요</h1>
    <table border="1">
        <tr>
            <td>내용 1</td>
            <td>내용 2</td>
            <td>내용 3</td>
            <td>내용 4</td>
        </tr>
        <tr>
            <td>내용 5</td>
            <td>내용 6</td>
            <td>내용 7</td>
            <td>내용 8</td>
        </tr>
        <tr>
            <td>내용 9</td>
            <td>내용 10</td>
            <td>내용 11</td>
            <td>내용 12</td>
        </tr>
    </table>
    <hr>
    <p>thead 스타일을 입힘 tfoot 스타일을 입힘 tbody</p>
    <table border="1">
        <thead>
        <tr>
            <th>내용 1</th>
            <td>내용 2</td>
            <td>내용 3</td>
            <td>내용 4</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>내용 5</th>
            <td>내용 6</td>
            <td>내용 7</td>
            <td>내용 8</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>내용 9</th>
            <td>내용 10</td>
            <td>내용 11</td>
            <td>내용 12</td>
        </tr>
        </tfoot>
    </table>

    <p><strong><em>글꼴<mark>관련</mark> <small>테스트</small></em></strong></p>
    <h1>제목H1</h1>
    <h2>제목H2</h2>
    <h3>제목H3</h3>
    <h4>제목H4</h4>
    <h5>제목H5</h5>
    <h6>제목H6</h6>
    <h7>제목H7</h7>
    <h0>제목H0</h0>
    
<hr>

    <p>첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.<hr>첫 코드입니다.첫 코드입니다
        .첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.첫 코드입니다.
    </p> 
    <br>
    <!-- Ctrl /으로 주석 -->
   안녕하세요.&nbsp;&nbsp;&nbsp; 반갑습니다. 
   html 처음입니다.<br>
   <br><br><br><br>
   <br>
   &nbsp;  live server startup - alt + l + o
</body>
</html>
