<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript</title>
    <script>
        // 디버깅 용도로 많이 쓰임
        document.write("안녕1");
        document.write("하세요1");
        // 화면 공백에서 뿌려짐, 화면보여지는상태에서 뿌려지려면 ajax(비동기방식)
        // window.alert("경고문구");
    </script>
</head>
<body>
    <h1 id="id2">JavaScript 처음</h1>
    <h1 class="c2">JavaScript 처음2</h1>
    <h1 class="c2">JavaScript 처음3</h1>
    <script>
        // object 집중적
        var a15 = {k1:1, k2:"s"};
        console.log(a15);
        a15.k3 = "a15에 새로운 key k3  생성하고 값";
        console.log(a15);
        a15.k2 = "a15에 기존 key k2에 값 바꿈";
        console.log(a15);

        a16 = "a16은 앞에 window. 생략. 즉 window에 기존key a16이 없다면 생성, 있었다면 값 바꿈";
        console.log(a16);


        // window.alert("window객체의 alert라는 함수/메서드를 호출함");
        // alert("window객체명 생략하고 접근 가능함 ");
        window.document.getElementById("id2"); // 에서 window생략
        console.log(typeof(window));
        //자료형
        var a8;//true // 223.23 // "sdf" // nall(object)
        console.log(typeof (a8));// undefined 선언,값없으면
        a8 = false;
        console.log(typeof (a8));// 대입한 값에 따라서 자료형이 바뀜
        //object
        var a9 = {
            k1: 123, name: "홍길동", gender: "f"
            , score: { kor: 100, eng: 90, math: 70 }
            , a14: function () {
                console.log("a14==============");
                console.log("function 형태 a14의 값");
                console.log("변수명a14가 function명이 됩니다.");
                console.log(1020 * 382);
                // return 23*222;
                // return "aa";
                return a9;
            }
        };
        console.log(typeof (a9));
        console.log(a9);
        console.log(a9.k1);
        console.log(a9.score.math);
        console.log(a9.a14);    // a14의 값 = 코드 자체
        console.log(a9.a14());  // a14함수실행 + 그결과 뿌려달라
        //function
        var a10 = function () {
            console.log("a10==============");
            console.log("function 형태 변수 선언");
            console.log("변수명이 function명이 됩니다.");
            console.log(1020 * 382);
            // return 23*222;
            // return "aa";
            return a9;
        };
        console.log(typeof (a10));
        console.log(a10);
        //함수 실행
        a10();
        var a11 = a10();
        console.log(a10());

        function a12() {
            console.log("a12==============");
            console.log("function 정의함.");
            console.log("자바와동일한 위치에 함수명이 있습니다.");
            console.log(1020 * 382);
            return 23 * 222;
        }
        //함수 실행
        a12();
        var a13 = a12();
        console.log(a12());

        // var a3 = document.getElementById("id2");
        // console.log(a3);
        // var a4 = document.getElementsByClassName("c2");
        // console.log(a4);
        // var a5 = document.getElementsByTagName("h1");
        // console.log(a5);
        // var a6 = document.querySelector(".c2");
        // console.log(a6);
        // var a7 = document.querySelectorAll(".c2");
        // console.log(a7);
        // console.log(a7[0]);
    </script>
    <script>
        // 출력 관련
        // 디버깅 용도로 많이 쓰임
        document.write("안녕2");
        document.write("하세요2");
        
        // 화면 공백에서 뿌려짐, 화면보여지는상태에서 뿌려지려면 ajax(비동기방식)
        // window.alert("경고문구")
        document.getElementsByTagName("h1")[1].innerHTML = '<a href="#"> 바꿈문자1</a>';
        document.getElementsByTagName("h1")[2].innerText = '<a href="#"> 바꿈문자2</a>';
        

    </script>
    <script>
        var a1 = window.prompt("진입할 곳 이름을 작성해주세요.");
        // document.getElementsByTagName("h1")[0].innerHTML = a1;
        // console.log(a1);

        // var a2 = window.confirm("계속진행하시겠습니까?");
        // console.log(a2)

    </script>
    
</body>
</html>