<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <!-- layout - 00 필수!!! reset.css -->
    <link  href="../css/reset.css" rel="stylesheet">
    <link  href="../css/mydiv_01.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <header>
            <h1>제목:회사명,로고,로그인</h1>
        </header>
        <div class="wrap-nav">
            <nav>
                <ul>
                    <li> 메뉴1 </li>
                    <li> 메뉴2 </li>
                    <li> 메뉴3 </li>
                </ul>
            </nav>
        </div>
        <div class="wrap-content">
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis ut ut nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi id est vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus sapien. Nam velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
                </article>
                <article>
                    Aliquam eu orci vitae elit eleifend consequat vitae non tortor. Vivamus finibus pellentesque leo quis accumsan. Praesent vel lobortis dolor, a faucibus eros. Fusce fermentum diam non diam elementum finibus. Ut porttitor varius eros. Etiam vel eros varius, blandit nulla non, sodales sapien. Morbi sit amet libero leo.
                </article>
                <article>
                    Praesent sagittis dui quis libero venenatis iaculis. Cras a leo at dui pretium tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus erat felis, iaculis a ante at, vehicula facilisis libero. Sed nec nunc ac odio vulputate imperdiet vitae auctor erat. Sed odio ipsum, rhoncus sit amet lacinia ac, sodales et dui. Donec sed tellus nec justo sollicitudin placerat. Quisque in nisi eget lacus auctor tempus ut sit amet orci. Integer tincidunt elit tempor ex aliquet, elementum sodales enim euismod. In at velit semper massa egestas accumsan sit amet mollis urna. Ut facilisis pulvinar enim ut gravida.
                </article>
            </section>
            <aside>
                <div>
                    광고, 최근본상품, 바로가기링크
                </div>
                <nav>
                    <ul>
                        <li> 메뉴1 </li>
                        <li> 메뉴2 </li>
                        <li> 메뉴3 </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <footer>
            <address>서울시 상남구 테헤란로</address>
            <div>저작권</div>
            <nav>
                <ul>
                    <li> 메뉴1 </li>
                    <li> 메뉴2 </li>
                    <li> 메뉴3 </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>