<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript</title>
    <script>
        function f1() {
            a4 = 4;
            var a3 = 3; // 지역변수는 함수내부에서 var 선언
            console.log("이곳 -3 : a1 : " + a1);
            console.log("이곳 -3 : a2 : " + a2);
            console.log("이곳 -3 : a3 : " + a3);
            console.log("이곳 -3 : a4 : " + a4);
        };
            console.log("이곳 -3 : a1 : " + a1);
            console.log("이곳 -3 : a2 : " + a2);
            console.log("이곳 -3 : a3 : " + a3);
            console.log("이곳 -3 : a4 : " + a4);
                //전역변수 선언
        //let 같은이름으로 중복선언 불가
        let a1 = 1;
        let a2 = 2;
        let a4;

    </script>
</head>

<body>
    <h1 id="id2">JavaScript 처음</h1>
    <h1 class="c2">JavaScript 처음2</h1>
    <h1 class="c2">JavaScript 처음3</h1>
    <script>

        console.log("이곳 -6 : a4 : "+a4);

        var a10;
        var a11;

        var sum;
        for(var i=0;i<10;i++) {
            console.log(i);
        }
        for(var i=0;i<10;i++) {
            console.log(i);
        }

        let f2 = function () {
            a4 = 4;
            var a3 = 3; // 지역변수는 함수내부에서 var 선언
            console.log("이곳 -3 : a1 : " + a1);
            console.log("이곳 -3 : a2 : " + a2);
            console.log("이곳 -3 : a3 : " + a3);
            console.log("이곳 -3 : a4 : " + a4);
        }

        f1(); // 위 함수 호출 실행
        console.log("이곳 -1 : a1 : " + a1);
        console.log("이곳 -1 : a2 : " + a2);
        //지역오류 console.log("이곳 ----1 : a3" + a3);
        console.log("이곳 - 1 :a4 : " + a4);

        {
           
            console.log("이곳 -2 : a1 : " + a1);
            console.log("이곳 -2 : a2 : " + a2);
            //오류 console.log("이곳 -2 : a3 : " + a3);
            console.log("이곳 -2 : a4 : " + a4);
        }

    </script>
    <h1>변수 var 영역</h1>
    <script>
        f1();
        
        console.log("이곳 -4 : a1 : " + a1);
        console.log("이곳 -4 : a2 : " + a2);
        // console.log("이곳 -4 : a3 : " + a3);
        console.log("이곳 -4 : a4 : " + a4);
    
    </script>

</body>

</html>