<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h2>block형식의 공간을 수직으로 분할(div)</h2>
<div>영역태그중block영역대표주자</div>
<div>영역태그중block영역대표주자</div>
<div>영역태그중block영역대표주자</div>
<div>영역태그중block영역대표주자</div>
<div>영역태그중block영역대표주자</div>
<p>block형식 p태그, ul태그, ol태그, table태그 ...</p>
<h2>inlive형식의 공간을 수평으로 분할(span) </h2>
<span>영역태그중inlive영역대표주자</span>
<span>영역태그중inlive영역대표주자</span>
<span>영역태그중inlive영역대표주자</span>
<span>영역태그중inlive영역대표주자</span>
<span>영역태그중inlive영역대표주자</span>
<p>inlive형식 a태그, img태그 ... </p>
<h2>웹문서안에 다른 웹페이지를 추가하는 태그</h2>
<div>
<!-- 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lyeLYUCalNw?si=KZt6dT5VUFvYT4h0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
-->
</div>
<h2>웹 페이지에 사진이나 그림을 삽입할 때 사용하는 태그</h2>
<img src="" alt="" width="" height="">
<h2>이미지를 구역 별로 나누어 링크를 걸어주는 태그</h2>
<map name=""></map>
<h2>웹 브라우저에서 플러그인의 도움 없이 음악을 재생할 수 있게 만들어주는 태그</h2>
<audio src=""></audio>
<h1>하이퍼 텍스트</h1>
<h2>페이지에서 해당 부분을 클릭하면 지정된 페이지로 이동하는 태그, 외부 사이트 연결, 문서 내부에서 이동가능</h2>
<h3>문자</h3>
<a href="주소">
        링크표시 문구
</a>
<h3>이미지</h3>
<a href="주소">
    <img src="이미지 경로"/>
</a>

<body>
    <div><a href="http://naver.com" target="_blank">링크 외부</a></div>
    <div><a href="">링크 외부</a></div>
    <div><a href="http://naver.com">링크 외부</a></div>
</body>