<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 두번째 웹페이지</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link href="../css/myweb2.css" rel="stylesheet">
</head>

<body>
    <div>
        <header>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis
                    ut ut
                    nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi
                    id est
                    vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus
                    sapien. Nam
                    velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
        </header>
    </div>
    <div>
        <section>
           <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis
                    ut ut
                    nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi
                    id est
                    vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus
                    sapien. Nam
                    velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
           </article> 
           <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis
                    ut ut
                    nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi
                    id est
                    vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus
                    sapien. Nam
                    velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
           </article> 
           <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis
                    ut ut
                    nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi
                    id est
                    vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus
                    sapien. Nam
                    velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
           </article> 
           <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis
                    ut ut
                    nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi
                    id est
                    vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus
                    sapien. Nam
                    velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
           </article> 
           <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis
                    ut ut
                    nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi
                    id est
                    vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus
                    sapien. Nam
                    velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
           </article> 
        </section>
        <aside>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis
            ut ut
            nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi
            id est
            vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus
            sapien. Nam
            velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
        </aside>
    </div>
    <div>
        <footer>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis risus sed ex commodo facilisis
            ut ut
            nulla. In ut nulla lectus. Vestibulum nec erat mollis, pharetra lorem aliquam, lobortis leo. Morbi
            id est
            vel odio lacinia elementum. Maecenas cursus elit eget erat tristique varius. Quisque vitae risus
            sapien. Nam
            velit eros, eleifend eu luctus eget, congue ut arcu. Curabitur congue ultrices arcu.
        </footer>
    </div>
</body>

</html>