<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript</title>
</head>

<body>
    <h1 id="id2">JavaScript 처음</h1>
    <h1 class="c2">JavaScript 처음2</h1>
    <h1 class="c2">JavaScript 처음3</h1>
    <script>
        f1(); // 위 함수 호출 실행
        //오류 console.log("이곳 -6 : a3 : " +a3);
        console.log("이곳 -6 : a4 : " +a4);

        var a1 = 1;
        console.log("이곳 -1 : a1 : " + a1);
        console.log("이곳 -1 : a2 : " + a2);
        // console.log("이곳 ----1 : a3" + a3);
        //오류 console.log("이곳 - 1 :ㅁ4 : " + a4);

        {
            var a2 = 2;
            console.log("이곳 -2 : a1 : " + a1);
            console.log("이곳 -2 : a2 : " + a2);
            // console.log("이곳 -2 : a3 : " + a3);
            // console.log("이곳 -2 : a4 : " + a4);
        }

        function f1() {
            a4 = 4;
            var a3 = 3;
            console.log("이곳 -3 : a1 : " + a1);
            console.log("이곳 -3 : a2 : " + a2);
            console.log("이곳 -3 : a3 : " + a3);
            console.log("이곳 -3 : a4 : " + a4);
        }
    </script>
    <h1>변수 var 영역</h1>
    <script>
        f1();
        
        console.log("이곳 -4 : a1 : " + a1);
        console.log("이곳 -4 : a2 : " + a2);
        // console.log("이곳 -4 : a3 : " + a3);
        console.log("이곳 -4 : a4 : " + a4);
    
    </script>

</body>

</html>